{% extends 'base.html' %}
{% block content %}
<div class="container">

<h1 class="text-center my-5">Add Student</h1>

<form class="row g-3" method="post">
  {% csrf_token %}
    <div class="col-md-6">
      <label for="fname" class="form-label">First Name</label>
      <input type="text" class="form-control" id="fname" name="fname" required>
    </div>
    <div class="col-md-6">
      <label for="lname" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lname" name="lname" required>
    </div>
    <div class="col-6">
      <label for="fathername" class="form-label">Father Name</label>
      <input type="text" class="form-control" name="fathername" id="fathername" required>
    </div>
    <div class="col-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" id="email" required>
    </div>
    <div class="col-6">
      <label for="inputAddressOne" class="form-label">Address 1</label>
      <input type="text" class="form-control" name="inputAddressOne" id="inputAddressOne" placeholder="Apartment, studio, or floor" required>
    </div>
    <div class="col-6">
      <label for="inputAddressTwo" class="form-label">Address 2</label>
      <input type="text" class="form-control" name="inputAddressTwo" id="inputAddressTwo" placeholder="Apartment, studio, or floor" required>
    </div>
    <div class="col-md-6">
      <label for="cnic" class="form-label">CNIC</label>
      <input type="number" class="form-control" name="cnic" id="cnic" required>
    </div>
    <div class="col-md-6">
      <label for="contact" class="form-label">Contact</label>
      <input type="tel" class="form-control" id="contact" name="contact" required>
    </div>
  
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

{% endblock content %}