{% extends 'base.html' %}
{% block content %}
<div class="container">

<h1 class="text-center my-5">Update Student</h1>

<form class="row g-3" method="post">
  {% csrf_token %}
    <div class="col-md-6">
      <label for="fname" class="form-label">First Name</label>
      <input type="text" class="form-control" id="fname" name="fname" value="{{student.first_name}}" required>
    </div>
    <div class="col-md-6">
      <label for="lname" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lname" value="{{student.last_name}}" name="lname" required>
    </div>
    <div class="col-6">
      <label for="fathername" class="form-label">Father Name</label>
      <input type="text" class="form-control" name="fathername" value="{{student.father_name}}" id="fathername" required>
    </div>
    <div class="col-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" value="{{student.email}}" id="email" required>
    </div>
    <div class="col-6">
      <label for="inputAddressOne" class="form-label">Address 1</label>
      <input type="text" class="form-control" name="inputAddressOne" value="{{student.addressOne}}" id="inputAddressOne" placeholder="Apartment, studio, or floor" required>
    </div>
    <div class="col-6">
      <label for="inputAddressTwo" class="form-label">Address 2</label>
      <input type="text" class="form-control" name="inputAddressTwo" value="{{student.addressTwo}}" id="inputAddressTwo" placeholder="Apartment, studio, or floor" required>
    </div>
    <div class="col-md-6">
      <label for="cnic" class="form-label">CNIC</label>
      <input type="number" class="form-control" name="cnic" value="{{student.cnic}}" id="cnic" required>
    </div>
    <div class="col-md-6">
      <label for="contact" class="form-label">Contact</label>
      <input type="tel" class="form-control" id="contact" value="{{student.contact}}" name="contact" required>
    </div>
  
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>
</div>

{% endblock content %}