{% extends "base.html" %}
{% block content %}
  

<h1 class="p-5 bg-primary text-center text-white">View Students</h1>


<div class="container">



<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">CNIC</th>
        <th scope="col">Contact</th>
        <th scope="col">Address</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

    {% for i in student %}
    <tr >
        <th scope="row" class="p-3">{{i.id}}</th>
        <td class="p-3">{{i.first_name}}</td>
        <td class="p-3">{{i.last_name}}</td>
        <td class="p-3">{{i.email}}</td>
        <td class="p-3">{{i.cnic}}</td>
        <td class="p-3">{{i.contact}}</td>
        <td class="p-3">{{i.addressOne}}</td>
        <td>
            <a href="" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a>
  


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa-solid fa-trash"></i>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are You Sure Want to Delete "ali@mail.com"
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>



        </td>
    </tr>

    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}